h1{
color:white;
}
body{
background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRbBQBbqyom1b0Q3H5EIFip1TVXvPBBLW32gORhxv26E76SBeYynsVBVE0PqDUTAxk3dBvuzUfm304&usqp=CAU')
 background-repeat: no-repeat;
}

